#Navigation {
  color: #fff;
}

#Navigation .LogoWrap {
  text-align: center;
  max-width: 200px;
}

#Navigation .LogoWrap img {
  width: 40px;
}

#Navigation .LogoWrap svg {
  width: 30%;
}

#Navigation .LogoWrap svg .st0 {
  fill: #fff;
}

.NavigationList li a {
  color: #fff;
}

.NavigationList li a.active {
  font-weight: bold;
}
